<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Jog Times - Save New Jog</title>

    <!-- Tailwind.css is a CSS library. Read the docs here: -->
    <!-- https://tailwindcss.com/docs/what-is-tailwind -->
    <link rel="stylesheet" href="/tailwind.css" />
  </head>
  <body class="bg-grey-lightest">
    <header class="fixed pin-x pin-t bg-indigo shadow text-white">
      <div
        class="mx-auto h-16 p-4 flex items-center justify-between"
        style="width: 800px"
      >
        <h2><a href="/times" class="text-white no-underline">Jog Times</a></h2>
        <div>
          Signed in as {{ user.name }} ({{ user.email }})
          <a
            href="/sign-out"
            class="text-white border border-white rounded p-2 no-underline hover:bg-indigo-light ml-4"
          >
            Sign Out
          </a>
        </div>
      </div>
    </header>

    <main class="h-screen flex flex-col items-center justify-center">
      <form
        class="m-4 shadow-lg rounded-lg overflow-hidden w-64"
        method="POST"
        action="/times/new"
      >
      <img src="http://i67.tinypic.com/312jl07.jpg" class="w-full" />
      <span><h1 class="text-2xl pl-4 text-center text-blue uppercase font-mono font-bold">Add Jog</h1></span>

        <label class="m-4 block text-center text-indigo-light">
          Date
          <input
            class="block text-indigo-dark rounded-lg bg-grey-lightest border-2 border-indigo-lightest p-2 mt-2 w-full"
            type="datetime-local"
            name="startTime"
            required="required"
          />
        </label>

        <label class="m-4 block text-center text-indigo-light">
          Distance (km)
          <input
            class="block text-indigo-dark rounded-lg bg-grey-lightest border-2 border-indigo-lightest p-2 mt-2 w-full"
            type="number"
            name="distance"
            required="required"
            step="0.01"
          />
        </label>

        <label class="m-4 block text-center text-indigo-light">
          Duration (hrs)
          <input
            class="block text-indigo-dark rounded-lg bg-grey-lightest border-2 border-indigo-lightest p-2 mt-2 w-full"
            type="number"
            name="duration"
            required="required"
            step="0.01"
          />
        </label>

        <button
          type="submit"
          class="block w-auto rounded bg-indigo text-white p-2 m-4 ml-auto"
        >
          Save →
        </button>
      </form>
    </main>
  </body>
</html>
