<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Jog Times - Edit Jog</title>

    <!-- Tailwind.css is a CSS library. Read the docs here: -->
    <!-- https://tailwindcss.com/docs/what-is-tailwind -->
    <link rel="stylesheet" href="/tailwind.css" />
  </head>
  <body class="bg-grey-lightest">
    <header class="fixed pin-x pin-t bg-indigo shadow text-white">
      <div
        class="mx-auto h-16 p-4 flex items-center justify-between"
        style="width: 800px"
      >
        <h2><a href="/times" class="text-white no-underline">Jog Times</a></h2>
        <div>
          Signed in as {{ user.name }} ({{ user.email }})
          <a
            href="/sign-out"
            class="text-white border border-white rounded p-2 no-underline hover:bg-indigo-light ml-4"
          >
            Sign Out
          </a>
        </div>
      </div>
    </header>

    <main class="h-screen flex flex-col items-center justify-center">
      <form
        class="m-4 shadow-lg rounded-lg overflow-hidden w-64"
        method="POST"
        action="/account/{{ user.id }}"
      >
      <img src="http://i67.tinypic.com/312jl07.jpg" class="w-full" />
        <span><h1 class="text-2xl pl-4 text-center text-blue uppercase font-mono font-bold">Edit Account</h1></span>

        
        <label class="m-3 block text-center text-indigo-light">
                Name
                <input
                  class="block text-indigo-dark rounded-lg bg-grey-lightest border-2 border-indigo-lightest p-2 mt-2 w-full"
                  type="text"
                  name="name"
                  value=" {{ user.name }}"
                  required
                />
              </label>
        
              <label class="m-3 block text-center text-indigo-light">
                    Email Address
                    <input
                      class="block text-indigo-dark rounded-lg bg-grey-lightest border-2 border-indigo-lightest p-2 mt-2 w-full"
                      type="email"
                      name="email"
                      value=" {{ user.email }}"
                      required
                    />
                  </label>

        <button
          type="submit"
          class="block w-auto rounded bg-indigo text-white p-2 m-4 ml-auto"
        >
          Save Changes →
        </button>
      </form>
      
      
      <a
        href="/account/{{ user.id }}/delete"
        class="block mt-8 text-red-light no-underline hover:underline"
      >
        Delete Account
      </a>
    </main>
  </body>
</html>