<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Jog Times</title>

    <!-- Tailwind.css is a CSS library. Read the docs here: -->
    <!-- https://tailwindcss.com/docs/what-is-tailwind -->
    <link rel="stylesheet" href="/tailwind.css" />
  </head>
  <body class="bg-grey-lightest">
    <header class="fixed pin-x pin-t bg-indigo shadow text-white">
      <div
        class="mx-auto h-16 p-4 flex items-center justify-between"
        style="width: 800px"
      >
      <h2><a href="/times" class="text-white no-underline">Jog Times</a></h2>
        <div>
          Hi {{ user.name }}! ({{ user.email }})
          <a
            href="/sign-out"
            class="text-white border border-white rounded p-2 no-underline hover:bg-indigo-light ml-4"
          >
            Sign Out
          </a>
        </div>
      </div>
    </header>

    

    <main
      style="width: 800px"
      class="mx-auto mt-16 pt-4 flex flex-col justify-center "
    >



    <section class="flex items-center">
        <div class="bg-white mx-auto max-w-xs shadow-lg rounded-lg">
            <img src="http://i64.tinypic.com/kyoes.jpg" class="w-full" />
              <form class="w-full max-w-sm"
                  method="POST"
                  action="/timeline">
                <div class="flex flex-no-wrap items-stretch w-full relative">
                  <input class="flex-auto w-4/5 m-3 mr-0 p-5 bg-grey-lightest border-2 border-indigo-lightest hover:text-indigo-lighter focus:text-indigo-dark  rounded-lg text-xl text-indigo-lighter no-underline flex items-center justify-center text-center" 
                  type="text" name="searchName" placeholder="Search Users..." >
                  <button class="w-1/5 rounded-lg bg-indigo-lightest text-xl w-auto m-3 ml-0 p-5 items items-center" type="submit">
                    🔍
                  </button>
                </div>
              </form> 
        </div>

        {{#each results}}
        <a
          class=" m-4 p-5 inline shadow-lg shadow-indigo-lightest hover:bg-blue-lightest hover:shadow-inner rounded-lg text-indigo no-underline"
          href="/user-page/{{ id }}"
        >
          <p class="text-xl mt-2">
            {{ name }}
            
            ({{ jogs }}
            <span
              class="uppercase text-xs text-grey-darker font-semibold -ml-1"
            >
              jogs)
            </span>
          </p>
        </a>
        {{/each}}
      
    </section>

   

    <section
      class="flex flex-wrap items-center border border-grey-light border-l-0 border-r-0 border-b-0 m-6 p-6"
    >


    <div class="bg-white mx-auto max-w-lg shadow-lg rounded-lg overflow-hidden">

      
        <div class="flex flex-no-wrap items-stretch w-full relative">
            <div>
                    <h1 class="text-2xl m-3 p-6 text-blue uppercase font-mono font-bold">
                    Timeline
                </h1>
            </div>
            <div class="flex-auto w-2/5 m-3 p-6 bg-white text-xl text-white no-underline flex items-center justify-center text-center"
            >
            Everyone
          </div>
            <a
                href="/timeline/followers"
                class="flex w-2/5 m-3 p-6 bg-grey-lightest hover:shadow-inner shadow rounded-lg text-xl text-teal no-underline items-center justify-center text-center"
            >
                Followers
            </a>
            <a
                href="/timeline/following" 
                class="flex-auto w-2/5 m-3 p-6 bg-grey-lightest hover:shadow-inner shadow rounded-lg text-xl text-blue no-underline flex items-center justify-center text-center"
            >
                Following
            </a>
            
       </div> 
    </div>

    {{#each timeline}}
        <a
          class=" m-4 p-5 w-full inline shadow-lg shadow-indigo-lightest hover:shadow-inner rounded-lg text-indigo no-underline"
          href="/user-page/{{ id }}"
        >
          <h3 class="text-grey-darker text-l uppercase text-base font-normal">
            {{ name }}
            <span
            class="uppercase pin-r text-xs text-grey-darker font-semibold "
          >
            {{ startTime }}
          </span></h3>
          <p class="text-xl mt-2">
            {{ distance }} KM
            <span
              class="uppercase text-xs text-grey-darker font-semibold -ml-1"
            >
              in
            </span>
            {{ duration }} HRS
            
          </p>
          <p class="text-l mt-1">
            Avg. spd: {{ avgSpeed }}
            <span
              class="uppercase text-xs text-grey-darker font-semibold -ml-1"
            >
              km/hr
            </span>
          </p>
        </a>
        {{/each}}
    
      </section>
    </main>
  </body>
</html>



